@model ProjectTimeManagement.Models.Project

@{
    ViewBag.Title = "DeleteProject";
}

<div class="alert alert-danger">
    Are you sure you want to delete the following Project?
</div>

<div class="row">
    <div class="col-lg-6">

        <div class="row">
            <div class="col-xs-4 col-sm-3">
                @Html.LabelFor(m => m.CreatedTime)
            </div>
            <div class="col-xs-8 col-sm-9">
                @Model.CreatedTime
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-3">
                @Html.LabelFor(m => m.ProjectName)
            </div>
            <div class="col-xs-8 col-sm-9">
                @Model.ProjectName
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-3">
                @Html.LabelFor(m => m.CreatorName)
            </div>
            <div class="col-xs-8 col-sm-9">
                @Model.CreatorName
            </div>
        </div>

        @using (Html.BeginForm())
        {
            <div class="pad-top">
                <button type="submit" class="btn btn-danger btn-lg margin-right">
                    <span class="glyphicon glyphicon-trash"></span> Delete
                </button>
                <a href="@Url.Action("Index")" class="btn btn-warning btn-lg">
                    <span class="glyphicon glyphicon-remove"></span> Cancel
                </a>
            </div>
        }


    </div>

</div>