@model IEnumerable<ProjectTimeManagement.Models.TimeTable>

@{
    ViewBag.Title = "Details";
}

<div class="stats">
    <h2 class="stats-header h3">@ViewBag.ProjectName</h2>
    <div class="stats-left">
        Total hours: <span class="stats-number">@ViewBag.TotalHours</span>
    </div>
</div>

<h2>Details</h2>

<table class="table">
    <tr>
        <th>Register Data</th>
        <th>Name</th>
        <th>Hours</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegisterTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hours)
            </td>
            <td>
                <div class="pull-right">
                    <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-warning btn-sm margin-right">
                        <span class="glyphicon glyphicon-edit"></span><span class="hidden-xs"> Edit</span>
                    </a>
                    <a href="@Url.Action("DeleteRegister", new { id = item.Id })" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-trash"></span><span class="hidden-xs"> Delete</span>
                    </a>
                </div>
            </td>
        </tr>
    }

</table>


<div class="form-group">
    <div style="text-align: center;" class="pad-top">
        <a href="@Url.Action("Index")" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-arrow-left"></span> Back
        </a>
       @* <a href="@Url.Action("CreatePdf", new { id = Url.RequestContext.RouteData.Values["id"] })" class="btn btn-default btn-lg">
        <span></span> Generate Invoice
    </a>*@
        <a href="@Url.Action("GenerateInvoice")" class="btn btn-default btn-lg">
            Generate Invoice <span class="glyphicon glyphicon-arrow-right"></span> 
        </a>
    </div>
</div>

