@model IEnumerable<ProjectTimeManagement.Models.Project>

@{
    ViewBag.Title = "Project";
}

<h3>@ViewBag.Title</h3>
<h3>
    @Html.ActionLink("Create New Project", "Create")
</h3>
    <table class="table">
        <tr>
            <th>Created Data</th>
            <th>Project Name</th>
            <th>CreatorName</th>
            <th>&nbsp;</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatorName)
                </td>
                <td>
                    <div class="pull-right">
                        <a href="@Url.Action("Register", new { id = item.ProjectId })" class="btn btn-warning btn-sm margin-right">
                            <span class="glyphicon glyphicon-edit"></span><span class="hidden-xs"> Register</span>
                        </a>
                        <a href="@Url.Action("Details", new { id = item.ProjectId })" class="btn btn-warning btn-sm margin-right">
                            <span class="glyphicon glyphicon-user"></span><span class="hidden-xs"> Details</span>
                        </a>
                        <a href="@Url.Action("Delete", new { id = item.ProjectId })" class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-trash"></span><span class="hidden-xs"> Delete</span>
                        </a>
                    </div>
                </td>
            </tr>
        }

    </table>
